body {
  margin: 0;


}
.header {
  width: 100%;
  height: 56px;
  background-color: white;
}

.main > a, .gallery > a {
  color: black;
  text-decoration: none;
  width: 150px;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.main, .gallery {
  font-size: 21px;
  font-family: "PT sans";
  font-weight: bold;

}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;



}
.container > .main{
  background-color: white;
  width: 150px;
  height: 56px;


}
.container > .gallery{
  background-color: white;
  width: 150px;
  height: 56px;
}

.logo {
  width: 190px;
  height: auto;

}

.background1 {
  min-height: 80vh;
  background-image: url(img/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.text {
  width: 100%;
  height: 200px;



}

.styletext {
  font-family: "PT sans";
  font-weight: bold;
  font-size: 31px;
  text-align: center;
  margin-top: 90px;
  line-height: 160%;
}

.styletext1 {
  font-family: "PT sans";
  font-weight: normal;
  font-size: 21px;
  text-align: center;
  margin-top: 40px;
}

.block1 {
  width: 100%;
  height: 384px;
  display: flex;


}
.block1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textblock {
  height: 100%;
  background-color: rgb(129,179,209);
  flex: 0 0 600px;


}
.textb2 {
  padding: 30px;
  font-family: "PT sans";
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 31.5px;

}

.textb1 {
  font-family: "PT sans";
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 21px;
  margin-top: -30px;


}
.textinblock {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;


}





.infoblock {
  width: 100%;
  height: 495px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.house {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.houseico {

  width: 110px;
  height: auto;


}

.fh1 {
  font-family: "PT sans";
  font-size: 30px;
  text-align: center;
}
.fp {
  font-size: 19px;
  font-family: "PT sans";
  text-align: center;
  margin-top: 5px;
}



.food {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
.burgerico {

  width: 110px;
  height: auto;



}

.giftico {
  width: 95px;
  height: auto;
  margin-top: -18px;

}

.gifts {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.mostblock {

  width: 100%;
  height: 384px;
  display: flex;
 


}
.mostblock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.textblockc {

  height: 100%;
  background-color: rgb(129,179,209);
  flex: 0 0 600px;


}



.textich {
  margin-top: 55px;
  padding: 30px;
  font-family: "PT sans";
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 31.5px;



}

.moreinfo {
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(238, 238, 238);
  justify-content: space-between;


}


.ploschad {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;





}
.road {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;





}
.mini {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;





}

.areatip {
  margin-top: 55px;
  padding: 30px;
  font-family: "PT sans";
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 31.5px;



}

.textb3 {
  font-family: "PT sans";
  font-weight: normal;
  color: black;
  text-align: center;
  font-size: 21px;
  margin-top: -30px;
  line-height: 145%;

}


.bron {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;


}
.brontip {
  margin-top: 55px;
  padding: 35px;
  font-family: "PT sans";
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 45px;






}


.knopka {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 687px;
  height: 87px;
  background-color: rgb(129,179,209);

}

.otdel {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "PT sans";
  font-size: 32px;



}

.niz  {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.niztext {
  font-family: "PT sans";



}

.bggl {
  min-height: 50vh;
  background-image: url(img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;




}


.areatip1 {
  margin-top: 55px;
  padding: 30px;
  font-family: "PT sans";
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 45px;



}


.photosd {
  width: 100%;





}


.photoch {

  width: 100%;



}
